@charset 'UTF-8';

/*
VARIABLES
================================================ */
:root {
    --light-green: #d5edeb;
    --grey: #C0C0C0;
    --oswald-font: 'Oswald', sans-serif;
}

/*
共通
================================================ */
body {
    background-color: #555;
    color: var(--grey);
    font-family: 'Klee One', cursive;
}

a {
    text-decoration: none;
}

.top-title {
    font-size: min(10vw, 4rem);
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.content-title {
    font-size: min(10vw, 4rem);
    font-family: 'Kalam', cursive;
    text-align: center;
    padding-top: 20%;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%;
}

img {
    max-width: 100%;
}

.fadein {
    opacity: 0;
}

/* Loading */
#loading {
    background-color: var(--grey);
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: grid;
    place-items: center;
    /* padding-top: 15%; */
}

#loading-screen {
    background-color: var(--light-green);
    position: fixed;
    inset: 0;
    z-index: 9998;
    translate: 0 100vh;
}
#loading p {
    font-size: 2rem;
    font-family: var(--oswald-font);
    color: #403632;
}

/*
ヘッダー
================================================ */
.page-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    list-style: none;
    font-size: 1.25rem;
    margin-top: 20px;
    z-index: 999;

}

.page-header li {
    margin-right: 36px;
}

.page-header a {
    color: #C0C0C0;
}

.page-header a:hover {
    color: #778899;
}

/* フッター */
footer {
    background: #000;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

/*
Top
================================================ */
.top {
    background-image: url(../images/gallery_top.jpg);
    min-height: 100vh;
}

/*
Gallery
================================================ */
.gallery-thumbnails {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    margin-top: 6%;
    list-style: none;

}

/* ギャラリーサムネイルのCSS (PC版)*/
@media (min-width: 601px) {

    .gallery-thumbnails img:hover {
        box-shadow: 0 0 3rem rgba(0,0,0,.5);
        transition: .4s;
        transform:scale(1.1);
        transition:0.3s;
    }
}

.gallery-thumbnail {
    border: 3px solid var(--grey);
    cursor: pointer;
    border-radius: 5px;
}

/*
News
================================================ */
.news-contents {
    margin-top: 6%;
    list-style: none;
}

.news-date {
    padding-top: 25px;
    padding-bottom: 2px;
}

.news-content {
    font-size: 1.25rem;
    border-bottom: 1px var(--grey) solid;
}

/*
Profile
================================================ */
.profile-contents {
    margin-top: 6%;
    text-align: center;
    line-height: 3;
}

/*
モーダルウィンドウ
================================================ */
#mask {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    inset: 0;
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
}

#modal {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    align-items:center;
    justify-content: center;
    z-index: 9999;
    display: flex;
    visibility: hidden;
}

.modal-gallery {
    width: 900px;
    border: 10px solid var(--grey);
    border-radius: 10px;
}

/*
Contact
================================================ */
form div {
    margin-bottom: 14px;
    
}

label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
    
}

input[type="text"],
input[type="email"],
textarea {
    background: rgba(211,211,211);
    border: 1px var(--grey) solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;

}

input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 480px;
}

textarea {
    width: 100%;
    max-width: 480px;
    height: 240px;
    
}

input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}

/* ボタン */
.button {
    background: #778899;
    color: #fff;
    border-radius: 5px;
    padding:10px 25px;
}

.button:hover {
    background: #708090;
}


/* SNS */
.sns {
    display: flex;
    list-style: none;
}

.sns li {
    margin-right: 20px;
}

/* モバイル版 */
@media(max-width: 600px){
    .gallery-thumbnail {
        border: 1px solid var(--grey);
        cursor: pointer;
    }
    .page-header {
        display: none;
    }
}