@charset 'UTF-8';

/*
VARIABLES
================================================ */
:root {
    --light-green: #d5edeb;
    --grey: #C0C0C0;
    --green: #63dbd0;
    --brown: #403632;
    --light-grey: #eee;
    --white: #fff;
    --oswald-font: 'Oswald', sans-serif;
}

/*
共通
================================================ */

body {
    background-color: #555;
    color: var(--grey);
}

.title {
    /* color: var(--grey); */
    font-size: min(10vw, 4rem);
    font-family: 'Kalam', cursive;
    text-align: center;
    padding-top: 20%;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%;
}

img {
    max-width: 100%;
}


li {
    font-family: 'Klee One', cursive;
}

.fadein {
    opacity: 0;
}

/* Loading */
#loading {
    background-color: var(--grey);
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: grid;
    place-items: center;
    /* padding-top: 15%; */
}

#loading-screen {
    background-color: var(--light-green);
    position: fixed;
    inset: 0;
    z-index: 9998;
    translate: 0 100vh;
}
#loading p {
    font-size: 2rem;
    font-family: var(--oswald-font);
    color: #403632;
}

/*
Top
================================================ */
.top {
    background-image: url(../images/gallery_top.jpg);
    min-height: 100vh;
}


/*
Gallery
================================================ */

.gallery {

}


.gallery-thumbnails {
    display: grid;
    gap: 26px;
    /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 6%;
    list-style: none;

}
.gallery-thumbnail {
    border: 3px solid var(--grey);
    cursor: pointer;
}

/*
News
================================================ */
.news-contents {
    margin-top: 6%;
    list-style: none;
}

.news-date {
    padding-top: 25px;
    padding-bottom: 2px;
}

.news-content {
    font-size: 1.25rem;
    border-bottom: 1px var(--grey) solid;
}

/*
モーダルウィンドウ
================================================ */
#mask {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    inset: 0;
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
}
#modal {
    background: var(--grey);
    max-width: 70rem;
    padding: 2rem;
    border-radius: .5rem;
    position: absolute;
    inset: 10rem 0 auto;
    margin: auto;
    margin-top: 5rem;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}

@media(min-width: 800px){
    .gallery-thumbnails img:hover {
        box-shadow: 0 0 3rem rgba(0,0,0,.5);
        transition: .4s;
        transform:scale(1.1);
        transition:0.3s;
    }

}

